<!-- align-self exists in css to move an element across the cross axis but to move an element across main axis we just use margin like here we are actually using margin-top -->
<footer class="footer bg-dark py-3 mt-auto text-center">
    <div class="container ">
        <span class="text-muted">&copy; YelpCamp</span>
    </div>
</footer>
